@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: Formular;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Formular.woff2) format("woff2");
}
@font-face {
  font-family: Formular;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/Formular-Light.woff2) format("woff2");
}
@font-face {
  font-family: Formular;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/FormularMedium.woff2) format("woff2");
}
:root {
  --color-dark: #05010a;
  --color-dark-rgb: 5, 1, 10;
  --color-accent: #fcb045;
  --color-accent-second: #BD00FF;
  --color-light-text: #cacaca;
  --color-text-gradient: linear-gradient(123deg, #fcb045 24.21%, #ff3f78 100%);
  --overflow-gradient: radial-gradient(
    circle,
    rgba(var(--color-dark-rgb), 0) 0%,
    rgba(var(--color-dark-rgb), 0.8) 38%,
    var(--color-dark) 55%,
    var(--color-dark) 100%
  );
  --color-gradient: linear-gradient(123deg, #fcb045 24.21%, #ff3f78 50%, #fcb045 75.21%);
  --color-white: #fff;
  --font-family-base: "Formular", sans-serif;
  --font-size--small: 13px;
  --font-size--medium: 20px;
  --font-size--large: 36px;
  --font-size--x-large: 42px;
  --header-height: clamp(60px, 8.46vw, 124px);
  --item-width: 25vw;
  --item-koeff: 4;
}
@media (max-width: 1023px) {
  :root {
    --item-width: 44vw;
    --item-koeff: 2.3;
  }
}
@media (max-width: 425px) {
  :root {
    --item-width: 93.75vw;
    --item-koeff: 1;
  }
}

.container {
  margin-inline: auto;
  height: auto;
}
.container__section {
  width: max(250px, 79.17vw);
}

.header--container {
  height: auto;
}
@media (max-width: 425px) {
  .header--container {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: height 0.3s ease-in-out;
    background-color: var(--color-dark);
  }
  .header--container::after {
    content: "";
    top: 0;
    left: -50%;
    width: 200%;
    height: 100%;
    position: absolute;
    z-index: 1;
    pointer-events: none;
    box-shadow: inset 0 -13px 10px rgb(0, 0, 0);
  }
  .header--container:hover {
    height: 120px;
  }
}

.header--container:hover + .header__close {
  left: 20px;
}

.section--container {
  position: relative;
  padding-inline: clamp(10px, 5vw, 30px);
  margin-inline: auto;
  overflow: hidden;
}

.grid--container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto 1fr;
  height: 50vw;
  gap: 10px;
  min-height: 62vh;
}
@media (max-width: 767px) {
  .grid--container {
    grid-template-rows: auto 1fr auto 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    height: auto;
    max-height: 100%;
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.nav__list {
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 27px;
  pointer-events: auto;
  font-size: clamp(12px, 1.6666666667vw, 24px);
  font-weight: 300;
  line-height: 1.35;
  color: #fffbf5;
  text-transform: uppercase;
}
.nav__item {
  position: relative;
}
.nav__item a::before,
.nav__item a::after {
  content: "";
  position: absolute;
  z-index: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  pointer-events: none;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-property: opacity, visibility;
}
.nav__item a::before {
  right: 100%;
  width: 1.2em;
  height: 7px;
  background-image: url(../img/befor-active-link.svg);
}
.nav__item a::after {
  left: 100%;
  width: 1.2em;
  height: 5px;
  background-image: url(../img/after-active-link.svg);
}
.nav__item:hover {
  color: var(--color-accent);
}
@media (max-width: 425px) {
  .nav {
    top: 10px;
    align-items: start;
  }
  .nav__list {
    position: relative;
    z-index: 0;
    top: 0;
    left: 19px;
  }
}

.is-active {
  color: var(--color-accent);
}

.is-active > a:before,
.is-active > a:after {
  opacity: 1;
  visibility: visible;
}

.content--container {
  padding-top: 50px;
}
.content--container .content {
  margin: 5vh 0;
}
.content--container .content__title-wrapper {
  overflow: hidden;
}

.arrow {
  position: absolute;
  top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(30px, 5.27vw, 85px);
  height: 5.27vw;
  border: none;
  cursor: pointer;
  transition: transform 0.4s ease;
  background-color: transparent;
  transition: left 1s 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.arrow svg {
  width: 90%;
  height: auto;
}
@media (hover: hover) {
  .arrow:hover svg {
    transform: scale(1.2);
  }
}
@media (hover: none) {
  .arrow:active svg {
    transform: scale(1.2);
  }
}
.arrow:active svg {
  filter: brightness(1.5);
}
@media (max-width: 767px) {
  .arrow {
    top: 92%;
    width: 10vw;
  }
}
@media (max-width: 425px) {
  .arrow {
    top: 93%;
    width: 13vw;
  }
}

.arrow--path {
  width: 50px;
  height: auto;
  stroke: url(#color-text-gradient);
  stroke-linecap: round;
  fill: none;
  stroke-width: clamp(6px, 0.18vw, 9px);
}

.arrow--prev {
  left: 150%;
  margin-bottom: 5px;
  transform: rotate(180deg);
}

.arrow--next {
  left: 150%;
}

@media (max-width: 767px) {
  .observe-video[data-visible=true] {
    opacity: 1;
  }
  .observe-video[data-visible=false] {
    opacity: 0;
  }
}
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.9);
  animation: rotateGradient 1s ease infinite;
}
.lightbox__image {
  max-width: 90%;
  max-height: 90%;
  width: 90%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 5px;
  animation: filter-shadow 5s linear infinite;
  -webkit-mask: linear-gradient(0deg, transparent, rgba(255, 255, 255, 0.4) 5%, white 20%, white 80%, rgba(255, 255, 255, 0.4) 95%, transparent);
  mask: linear-gradient(0deg, transparent, rgba(255, 255, 255, 0.4) 5%, white 20%, white 80%, rgba(255, 255, 255, 0.4) 95%, transparent);
  pointer-events: none;
}
.lightbox__close {
  position: absolute;
  top: 4.6vw;
  right: 7.6vw;
  font-size: clamp(52px, 0.9722222222vw, 14px);
  color: white;
  cursor: pointer;
}

.lightbox[aria-hidden=true] {
  display: none;
}

.lightbox[aria-hidden=false] {
  display: flex;
}

.content {
  position: relative;
}
.content__title {
  transform: translateX(-100%);
  transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55), background-position 0.5s ease;
  background: var(--color-gradient);
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 2s infinite linear;
}
.content__logo {
  position: absolute;
  top: 7%;
  left: 90%;
  width: 9vw;
  height: 9vw;
  z-index: 2;
}
@media (max-width: 767px) {
  .content__logo {
    top: 12%;
    left: 86%;
    width: 12vw;
    height: 12vw;
  }
}
@media (max-width: 425px) {
  .content__logo {
    top: 4%;
    left: 80%;
    width: 18vw;
    height: 18vw;
  }
}
.content .logo-path {
  stroke: url(#color-text-gradient);
  stroke-linecap: round;
  fill: none;
  stroke-width: clamp(1px, 0.1vw, 3px);
  animation: none;
}

* {
  transition: opacity 3s ease 5s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  font-size: clamp(13px, 1.3888888889vw, 20px);
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.05em;
  color: var(--color-light-text);
  background-color: var(--color-dark);
}

a,
button,
input,
textarea * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
.h2,
h3,
h4 {
  font-weight: 400;
}

h1,
.h1 {
  font-size: clamp(62px, 9.5833333333vw, 138px);
}
@media (max-width: 425px) {
  h1,
  .h1 {
    font-size: 48px;
  }
}

h2,
.h2 {
  font-size: clamp(48px, 5.9027777778vw, 85px);
  letter-spacing: -0.005em;
  text-transform: uppercase;
  font-weight: 400;
}
@media (max-width: 425px) {
  h2,
  .h2 {
    font-size: 36px;
  }
}

h3,
.h3 {
  font-size: clamp(28px, 3.3333333333vw, 48px);
}

h4,
.h4 {
  font-size: clamp(18px, 1.3888888889vw, 20px);
}

.loaded_hiding .preloader {
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.all-content {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.loaded .all-content {
  visibility: visible;
  opacity: 1;
}

.header {
  max-width: 1920px;
  display: flex;
  margin-inline: auto;
  flex-wrap: nowrap;
}
.header__logo {
  margin-left: auto;
  padding: 1.29vw 1.67vw;
}
.header__logo svg {
  width: clamp(70px, 7.94vw, 140px);
  height: auto;
}
.header .logo-path {
  stroke: url(#color-text-gradient);
  stroke-linecap: round;
  fill: none;
  stroke-width: clamp(12px, 1.18vw, 17px);
  animation: flicker 2s infinite, color-change 1s infinite;
}
@media (max-width: 425px) {
  .header {
    height: 50px;
  }
}

.header__close {
  position: fixed;
  top: 110px;
  left: -50px;
  background: none;
  color: var(--color-accent);
  z-index: 2;
  border: none;
  font-size: 24px;
  line-height: 1;
  padding: 5px;
  transition: left 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.header__close:active {
  left: -50px;
}

@keyframes flicker {
  0% {
    stroke-dashoffset: 700;
    opacity: 1;
  }
  50% {
    stroke-dashoffset: 0;
    opacity: 0.5;
  }
  100% {
    stroke-dashoffset: 700;
    opacity: 1;
  }
}
@keyframes color-change {
  0% {
    stroke: url(#color-text-gradient);
    opacity: 1;
  }
  20% {
    stroke: #00fff2;
  }
  30% {
    stroke: #ff00cc;
    opacity: 0.5;
  }
  40% {
    stroke: #ccff00;
  }
  50% {
    stroke: url(#color-text-gradient);
    opacity: 1;
  }
  60% {
    stroke: #ff00cc;
  }
  75% {
    stroke: #ccff00;
    opacity: 0.5;
  }
  90% {
    stroke: #00fff2;
  }
  100% {
    stroke: url(#color-text-gradient);
    opacity: 1;
  }
}
.choise {
  height: -moz-fit-content;
  height: fit-content;
}
.choise__title {
  grid-column: 1/-1;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  right: 0;
  letter-spacing: -0.03em;
  line-height: 0.9;
  text-transform: uppercase;
}
@media (max-width: 1023px) {
  .choise__title {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 425px) {
  .choise__title {
    padding-top: var(--header-height);
  }
}
.choise__title-stroke {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 2em;
}
.choise__title-stroke .text--stroke {
  display: inline-block;
  vertical-align: middle;
  color: transparent;
  -webkit-text-stroke-width: 0.01em;
  -webkit-text-stroke-color: #fffbf5;
}
.choise__title-stroke .element-svg {
  width: 100%;
  height: auto;
  transform: translate3d(0, 0, 0);
  content-visibility: visible;
  opacity: 1;
}
.choise__svg-or {
  align-self: center;
  width: 12vw;
  transition: transform 1.5s ease-in-out;
}
.choise__svg-or:hover {
  animation: rotateWithPen 0.7s cubic-bezier(0.65, 2.06, 0.89, 0.4);
}
@media (max-width: 767px) {
  .choise__svg-or {
    width: 30vw;
    height: 30vw;
  }
}

.animated-path {
  stroke: url(#color-text-gradient);
  fill: none;
  stroke-width: clamp(4px, 0.6vw, 6px);
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  animation: draw-line 1s 2s ease-out forwards;
}

@keyframes draw-line {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes rotateWithPen {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.portfolio {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: opacity 0.4s ease-out;
}
.portfolio::after {
  content: "";
  position: absolute;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  z-index: 1;
  pointer-events: none;
  background: var(--overflow-gradient);
}
.portfolio__title {
  position: relative;
  z-index: 2;
  padding-bottom: 20px;
  width: -moz-min-content;
  width: min-content;
}
.portfolio__line {
  display: none;
  opacity: 0;
  transform: translateY(-10px);
}
.portfolio__video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 0;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
.portfolio .animated-path {
  animation-delay: 0s;
}
@media (hover: hover) {
  .portfolio:hover .portfolio__line {
    display: block;
    opacity: 1;
    width: 100%;
  }
  .portfolio:hover .portfolio__video {
    opacity: 1;
  }
}
@media (hover: none) {
  .portfolio:active .portfolio__line {
    display: block;
    opacity: 1;
    width: 100%;
  }
  .portfolio:active .portfolio__video {
    opacity: 1;
  }
}
@media (max-width: 767px) {
  .portfolio {
    min-height: 60vh;
    width: 115%;
  }
}

.characters {
  position: relative;
}
.characters[data-in-view=true] .slide__wrap::before {
  top: 100%;
  left: 100%;
}
.characters[data-in-view=true] .content__title {
  transition: transform 0.6s 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transform: translateX(0);
}
.characters[data-in-view=true] .arrow--prev {
  left: 87%;
}
@media (max-width: 767px) {
  .characters[data-in-view=true] .arrow--prev {
    left: 35%;
  }
}
.characters[data-in-view=true] .arrow--next {
  left: 93%;
}
@media (max-width: 767px) {
  .characters[data-in-view=true] .arrow--next {
    left: 55%;
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
.slider {
  position: relative;
  margin-top: 40px;
}
.slider__track {
  overflow: auto;
}
.slider__arrows {
  position: absolute;
  top: -35%;
  left: 110%;
  display: flex;
  transition: transform 0.4s ease;
}
.slider__arrow {
  border: none;
  background-color: transparent;
  width: 50px;
  aspect-ratio: 1;
  padding: 0;
}
.slider__arrow svg {
  width: 70%;
  height: auto;
}
.slider__arrow:hover svg {
  transform: scale(1.2);
}
.slider .arrow-path {
  width: 50px;
  height: auto;
  stroke: url(#color-text-gradient);
  stroke-linecap: round;
  fill: none;
  stroke-width: clamp(6px, 0.18vw, 9px);
}
.slider .arrow--prev {
  margin-bottom: 5px;
  transform: rotate(180deg);
}
.slider__list {
  backface-visibility: hidden;
  display: flex;
  transform-style: preserve-3d;
  transform: translateX(0px);
}
.slider__list li:nth-child(n+1) .slide__wrap::before {
  transition-delay: 0.6s;
}
.slider__list li:nth-child(n+2) .slide__wrap::before {
  transition-delay: 0.8s;
}
.slider__list li:nth-child(n+3) .slide__wrap::before {
  transition-delay: 1s;
}
.slider__list li:nth-child(n+4) .slide__wrap::before {
  transition-delay: 1.2s;
}
.slider__list li:nth-child(n+5) .slide__wrap::before {
  transition-delay: 1.4s;
}
.slider__slide {
  box-sizing: border-box;
  flex-shrink: 0;
  list-style-type: none;
  position: relative;
  height: 28vw;
  width: 28vw;
}
.slider .slide__wrap {
  backface-visibility: hidden;
  overflow: hidden;
  transform-style: preserve-3d;
  margin-right: 20px;
  position: relative;
}
.slider .slide__wrap::before {
  content: "";
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: 1;
  position: absolute;
  background-color: var(--color-dark);
  transform: rotate(45deg);
  filter: blur(52px);
  transition: top 2s 0.2s ease, left 2s 0.2s ease;
}
.slider .slide__wrap .slide__img {
  position: relative;
  height: 100%;
  width: 100%;
  transition: transform 0.5s ease, filter 0.5s ease;
  transform-origin: center center;
}
.slider .slide__wrap:hover .slide__img {
  transform: scale(1.3) rotate(15deg);
}

.marquee {
  padding-block: min(14.47vw, 60px);
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4) 5%, white 20%, white 80%, rgba(255, 255, 255, 0.4) 95%, transparent);
}
.marquee__list {
  display: flex;
  gap: 30px;
  transition: transform 0.3s ease-in-out;
  will-change: transform;
  width: 11300px;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 80s) var(--_animation-direction, forwards) linear infinite;
}
.marquee__list[data-animation=paused] {
  animation-play-state: paused; /* Остановить анимацию */
}
.marquee__list[data-animation=running] {
  animation-play-state: running; /* Возобновить анимацию */
}
.marquee__list:hover {
  animation-play-state: paused;
}
.marquee__item {
  position: relative;
  width: var(--item-width);
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  overflow: hidden;
}

.member {
  width: 110%;
  height: 110%;
}
.member__link {
  display: block;
}
.member__link:hover .member__details {
  transform: none;
}
.member__link:hover .member__img {
  filter: grayscale(0);
  transform: scale(1.3) rotate(15deg);
}
.member__img-wrapper {
  margin: 0;
}
.member__img {
  display: block;
  max-width: 150%;
  height: -moz-fit-content;
  height: fit-content;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(100%);
  transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55), filter 0.3s;
  transform-origin: center center;
}
@media (max-width: 425px) {
  .member__img {
    height: 400px;
  }
}
.member__details {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
  background: rgba(0, 0, 0, 0.35);
  transform: translateY(100%);
  transition: transform 0.3s;
}
.member__title {
  margin: 0 0 5px;
}
@media (max-width: 425px) {
  .member__title {
    font-size: 1.6em;
  }
}
.member__subtitle {
  margin: 0;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}

@keyframes scroll {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(calc((-19.78 + var(--item-koeff)) * var(--item-width)));
  }
}
.sculpting {
  padding-top: 50px;
}
.sculpting .content__title {
  transform: translateX(150%);
}
.sculpting[data-in-view=true] .content__title {
  transition: transform 0.6s 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transform: translateX(0%);
  text-align: end;
}
.sculpting[data-in-view=true] .animated-path {
  animation: flicker 2s infinite, color-change 1s infinite, draw-line 2s 2s ease-out forwards 1;
}
.sculpting[data-in-view=true] .gallery__item {
  animation: small 1s 1s ease-in-out both;
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.sculpting[data-in-view=true] .gallery__item.active {
  animation: big 0.5s ease-in-out both;
  transition: transform 0;
}
.sculpting[data-in-view=true] .gallery__item.away {
  opacity: 0;
}

.gallery {
  padding-top: 50px;
  width: min(100%, 1920px);
  height: min(100%, 1920px);
  margin: auto;
}
.gallery__list {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);
  gap: 5px;
  grid-auto-flow: dense;
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4) 5%, white 20%, white 80%, rgba(255, 255, 255, 0.4) 95%, transparent);
}
@media (max-width: 425px) {
  .gallery__list {
    grid-template-columns: repeat(4, 1fr);
  }
}
.gallery__image {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: auto;
  filter: grayscale(100%);
}
.gallery__item:nth-child(1), .gallery__item:nth-child(2) {
  transform-origin: center 0;
}
.gallery__item:nth-child(3), .gallery__item:nth-child(4), .gallery__item:nth-child(5) {
  transform-origin: center center;
}
.gallery__item:nth-child(6), .gallery__item:nth-child(7), .gallery__item:nth-child(8) {
  transform-origin: center 100%;
}
.gallery .img-2x4 {
  grid-row-end: span 2;
  grid-column-end: span 4;
}
.gallery .img-3x4 {
  grid-row-end: span 3;
  grid-column-end: span 4;
}
.gallery .img-2x2 {
  grid-row-end: span 2;
  grid-column-end: span 2;
}
.gallery .img-4x4 {
  grid-row-end: span 4;
  grid-column-end: span 4;
}
.gallery .img-3x2 {
  grid-row-end: span 3;
  grid-column-end: span 2;
}

@keyframes small {
  0% {
    transform: scale(3.0625);
    z-index: 2;
    opacity: 0;
  }
  99% {
    z-index: 2;
    transform: scale(1);
  }
  100% {
    z-index: 1;
    opacity: 1;
  }
}
@keyframes big {
  0% {
    transform: scale(1);
    z-index: 2;
  }
  100% {
    z-index: 2;
    transform: scale(1.5);
  }
}/*# sourceMappingURL=styles.css.map */