.characters {
  position: relative;
  
  &[data-in-view="true"] {
    .slide__wrap::before {
      top: 100%;
      left: 100%;
    }
    .content__title {
      transition: transform 0.6s 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
      transform: translateX(0);
    }
    .arrow--prev {
      left: calc(90% - 3%);
      @include mobile {
        left: 35%;
      }
    }
    .arrow--next {
      left: calc(90% + 3%);
      @include mobile {
        left: 55%;
      }
    }
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
