.header {
  max-width: 1920px;
  display: flex;
  margin-inline: auto;
  flex-wrap: nowrap;
  &__logo {
    margin-left: auto;
    padding: 1.29vw 1.67vw;
    svg {
      width: clamp(70px, 7.94vw, 140px);
      height: auto;
    }
  }
  .menu-svg {
    display: none;
    padding-bottom: 1.5vw;
    svg {
      width: 15vw;
      height: auto;
    }
    path {
      stroke: url(#color-text-gradient);
    stroke-linecap: round;
    fill: none;
    stroke-width: clamp(12px, 1.18vw, 17px);
    }
    @include mobile-s {
      display: block;
    }
  }
  .logo-path {
    stroke: url(#color-text-gradient);
    stroke-linecap: round;
    fill: none;
    stroke-width: clamp(12px, 1.18vw, 17px);
    animation: flicker 2s infinite, color-change 1s infinite;
  }
  &[data-in-view="false"] .nav .nav__list,
  &[data-in-view="false"] .nav .nav__list {
    position: fixed;
    display: flex;
    gap: clamp(9px, 3.17vw, 60px);
    top: 0;
    left: 0;
    padding: 17px 5.17vw;
    width: 100vw;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
  
  @include mobile-s {
    height: 40px;
  }
  @include desktop-above {
    max-width: 2500px;
    height: 200px;
    &__logo svg {
        width: 200px;
      }    
    
  }
  
}
@media (hover: none) {
  .header:hover+.header__close{
    left: 30px;
  }
}
.header__close {
  position: fixed;
  top: 135px;
  left: -50px;
  background: none;
  color: var(--color-accent);
  z-index: 2;
  border: none;
  font-size: 24px;
  line-height: 1;
  padding: 5px;
  transition: left 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
 
}



@keyframes flicker {
  0% {
    stroke-dashoffset: 700;
    opacity: 1;
  }
  50% {
    stroke-dashoffset: 0;
    opacity: 0.5;
  }
  100% {
    stroke-dashoffset: 700;
    opacity: 1;
  }
}
@keyframes color-change {
  0% {
    stroke: url(#color-text-gradient);
    opacity: 1;
  }
  20% {
    stroke: #00fff2;
  }
  30% {
    stroke: #ff00cc;
    opacity: 0.5;
  }
  40% {
    stroke: #ccff00;
  }
  50% {
    stroke: url(#color-text-gradient);
    opacity: 1;
  }
  60% {
    stroke: #ff00cc;
  }
  75% {
    stroke: #ccff00;
    opacity: 0.5;
  }
  90% {
    stroke: #00fff2;
  }
  100% {
    stroke: url(#color-text-gradient);
    opacity: 1;
  }
}
