.tarcus {
    .content__video-wrapper {
      -webkit-mask-image: radial-gradient(30% 51% at 50% 50%, white 56.16%, transparent 100%);
      mask-image: radial-gradient(30% 51% at 50% 50%, white 56.16%, transparent 100%);
     
      @include tablet {
        -webkit-mask-image: radial-gradient(38% 51% at 50% 50%, white 56.16%, transparent 100%);
      mask-image: radial-gradient(38% 51% at 50% 50%, white 56.16%, transparent 100%);
      } 
   
    @include mobile {
      -webkit-mask-image: radial-gradient(50% 51% at 50% 50%, white 56.16%, transparent 100%);
      mask-image: radial-gradient(50% 51% at 50% 50%, white 56.16%, transparent 100%);
      } 
      @include desktop-above {
        -webkit-mask-image: radial-gradient(22% 51% at 50% 50%, white 56.16%, transparent 100%);
      mask-image: radial-gradient(22% 51% at 50% 50%, white 56.16%, transparent 100%);
      }
    }
     
    .video {
      transform: translateX(10%);
    }
    
  }
  