.container {
  margin-inline: auto;
  height: auto;

  &__section {
    width: max(250px, 79.17vw);
  }
}
.header--container {
  height: auto;
  @include mobile-s {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: height 0.3s ease-in-out;
    background-color: var(--color-dark);
    &::after {
      content: "";
      top: 0;
      left: -50%;
      width: 200%;
      height: 100%;
      position: absolute;
      z-index: 1;
      pointer-events: none;
      box-shadow: inset 0 -13px 10px rgba(0, 0, 0, 1);
    }
    &:hover {
      height: 100px;
    }
  }
}
.section--container {
  position: relative;
  padding-inline: clamp(10px, 5vw, 30px);
  margin-inline: auto;
  overflow: hidden;
}
.grid--container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto 1fr;
  height: 50vw;
  gap: 10px;
  min-height: 62vh;
  @include mobile {
    grid-template-rows: auto 1fr auto 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    height: auto;
    max-height: 100%;
  }
}

.visually-hidden {
  @include visually-hidden;
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  &__list {
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 27px;
    pointer-events: auto;
    @include fluid-text(24, 12);
    font-weight: 300;
    line-height: 1.35;
    color: #fffbf5;
    text-transform: uppercase;
  }
  &__item {
    position: relative;
    a::before,
    a::after {
      content: "";
      position: absolute;
      z-index: 0;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0;
      visibility: hidden;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      pointer-events: none;
      transition-timing-function: ease-in-out;
      transition-duration: 0.2s;
      transition-property: opacity, visibility;
    }
    a::before {
      right: 100%;
      width: 1.2em;
      height: 7px;
      background-image: url(../img/befor-active-link.svg);
    }
    a::after {
      left: 100%;
      width: 1.2em;
      height: 5px;
      background-image: url(../img/after-active-link.svg);
    }
    &:hover {
      color: var(--color-accent);
    }
  }
  @include mobile-s {
    top: 10px;
    align-items: start;
    &__list {
      position: relative;
      z-index: 0;
      top: 0;
      left: 19px;
    }
  }
}

.is-active {
  color: var(--color-accent);
}
.is-active > a:before,
.is-active > a:after {
  opacity: 1;
  visibility: visible;
}

.content--container {
  
  padding-top: 50px;
  .content {
    margin: 5vh 0;
    &__title-wrapper {
      overflow: hidden;
    }
  }
}

.arrow {
  position: absolute;
  top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(30px, 5.27vw, 85px);
  height: 5.27vw;
  border: none;
  cursor: pointer;
  transition: transform 0.4s ease;
  background-color: transparent;
  transition: left 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  svg {
    width: 90%;
    height: auto;
  }
  @include hover {
    svg {
      transform: scale(1.2);
    }
  }
  &:active {
    svg {
      filter: brightness(1.5);
    }
  }

  @include mobile {
    top: 92%;
    width: 10vw;
  }
  @include mobile-s {
    top: 93%;
    width: 13vw;
  }
}

.arrow--path {
  width: 50px;
  height: auto;
  stroke: url(#color-text-gradient);
  stroke-linecap: round;
  fill: none;
  stroke-width: clamp(6px, 0.18vw, 9px);
}
.arrow--prev {
  left: 150%;
  margin-bottom: 5px;
  transform: rotate(180deg);
}
.arrow--next {
  left: 150%;
}

@include mobile {
  .observe-video[data-visible="true"] {
  opacity: 1; 
}
.observe-video[data-visible="false"] {
  opacity: 0; 
}
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.9);
  animation: rotateGradient 1s ease infinite;
  &__image {
    max-width: 90%;
    max-height: 90%;
    width: 90%;
    object-fit: contain;
    border-radius: 5px;
    animation: filter-shadow 5s linear infinite;
    
    -webkit-mask: linear-gradient(
      0deg,
      transparent, rgba(255,255,255, 0.4) 5%, white 20%, white 80%, rgba(255,255,255, 0.4) 95%, transparent);
    mask: linear-gradient(0deg, transparent, rgba(255,255,255, 0.4) 5%, white 20%, white 80%, rgba(255,255,255, 0.4) 95%, transparent);
    pointer-events: none;
  }

  &__close {
    position: absolute;
    top: 4.6vw;
    right: 7.6vw;
    @include fluid-text(14, 52);
    color: white;
    cursor: pointer;
  }
}
.lightbox[aria-hidden="true"] {
    display: none;
}
.lightbox[aria-hidden="false"] {
    display: flex;

  }

